:root {
  --color-black: #080808;
  --color-almost-black: #101010;
  --color-closeto-black: #202020;
  --color-not-black: darkslategray;
  --color-not-gray: #d0d0d0;

  --color-designation: #d90009;
  --color-text: rgb(190, 190, 190);
  --color-text-less: gray;
  --color-text-red: #d90009;
  --color-bg-cover: var(--color-almost-black);

  --color-group-border: grey;

  --gradient-page: repeating-linear-gradient(170deg,
      var(--color-closeto-black) 0,
      var(--color-closeto-black) 10vh,
      var(--color-almost-black) 50vh,
      var(--color-almost-black) 70vh,
      var(--color-closeto-black) 110vh,
      var(--color-closeto-black) 120vh);

  --color-lyrics-section-even: rgb(from blue r g b / 0.05);
  --color-lyrics-section-odd: rgb(from green r g b / 0.05);
  --color-lyrics-line-even: rgb(from yellow r g b / 0.05);
  --color-lyrics-line-odd: rgb(from pink r g b / 0.05);


  --bg-group: linear-gradient(160deg, #545454, transparent 40%, transparent);

  --bg-show: linear-gradient(160deg, transparent 0rem, transparent 20%, #505020);

  --bg-tour: linear-gradient(160deg, transparent 0rem, transparent 20%, #c4c418);

  --bg-song: linear-gradient(160deg, transparent 0rem, transparent 20%, #202040);

  --bg-album: linear-gradient(160deg, transparent 0rem, transparent 20%, #2b2b86);

  --bg-multimedia: linear-gradient(160deg, transparent 0rem, transparent 20%, #204020);

  --bg-post: linear-gradient(160deg, transparent 0rem, transparent 80%, #ffff00);

}