:root {
  --color-black: #080808;
  --color-almost-black: #101010;
  --color-closeto-black: #202020;
  --color-not-black: darkslategray;
  --color-not-gray: #d0d0d0;

  --color-designation: rgb(128, 0, 0);
  --color-text: rgb(190, 190, 190);
  --color-text-less: gray;
  --color-text-red: #FF5733;
  --color-bg-cover: var(--color-almost-black);

  --color-group-border: grey;

  --gradient-page: repeating-linear-gradient(170deg,
      var(--color-closeto-black) 0,
      var(--color-closeto-black) 10vh,
      var(--color-almost-black) 50vh,
      var(--color-almost-black) 70vh,
      var(--color-closeto-black) 110vh,
      var(--color-closeto-black) 120vh);
}